body{
    margin: 0;
    padding: 0;
}

.texto2{
    text-align: center;
    color: black;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Ancho máximo de la cuadrícula */
}
.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    text-align: center;
}
.product-card:hover {
    transform: translateY(-5px);
}
.product-image {
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover;
}
.product-info {
    padding: 15px;
}
.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.product-price {
    font-size: 16px;
    color: #333;
}
.add-to-cart {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.add-to-cart:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}